@config "../tailwind.config.js";
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

@import "tailwindcss";

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  line-height: 1.1;
}